*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
 header{
    padding: 30px;
    align-items: center;
    position: absolute;
} 

/* header__content */
   .header__content{
    display: flex;
    justify-content: space-around;
    margin-left: 323px;
} 
/* nav */
.menu{
    margin-left: 176px;
}
 .menu ul{
    list-style: none;
    float: left;
    position: relative;
    margin: 20px 0;
    font-weight: 700;
}
.menu ul li{
    display: inline;
     margin: 20px 20px;  
}
.menu ul li .drop{
    position: relative;
}
.menu ul li a{
    text-decoration: none;
    color: #262626;
    transition: all 0.5s;
    
}
.menu ul .fas{
    position: absolute;
    top: 2px;
    color: #262626;
    font-size: 15px;
    transition: all 0.5s;

}
.menu ul li:hover a{
color: #f45f8d;
}
.menu ul li:hover i{
    color: #f45f8d;
}
 .menu ul ul li{
    display: block;
    margin-left: 20px;
    position: absolute;
} 
/* button */
.menu button{
    height: 60px;
    width: 150px;
    border-radius: 60px;
    color: white;
    background-image: linear-gradient( to left , #f45f8d , #f8b161);
    background-size: 200% 100%;
    border: none;
    transition:all 0.5s;
    cursor: pointer;
}
button:hover{
    background-position-x: right;
}
/* carousel */
#carousel{
    background-image: url(./../images/pic2.png);
   
    height: 700px;
    background-size: cover;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-position: top;
    padding-top: 300px;

}
.carousel__content{
    line-height: 126px;
    padding-left: 200px;
}
.carousel__content button{
    height: 60px;
    width: 150px;
    border-radius: 60px;
    color: white;
    background-image: linear-gradient( to left , #f45f8d , #f8b161);
    background-size: 200% 100%;
    border: none;
    transition:all 0.5s;
    cursor: pointer;
}
.carousel__content span{
    font-size: 29px;
    font-weight: 400;
    color: #f45f8d;
    line-height: 46px;
}
.carousel__content h2{
    font-size: 60px;
    font-weight: 900;
    color: #262626;
    line-height: 63px;
    padding-bottom: 10px;
}
.carousel__content p{
    font-size: 18px;
    color: #636363;
    line-height: 30px;
    padding-bottom: 10px;
}
.carousel__content ul{
    line-height: 60px;
}
.carousel__content ul li{
    list-style: none;
    color: #636363;
    font-size: 18px;
}
.carousel__content .fas{
    color: white;
    background-image: linear-gradient( to left , #f45f8d , #f8b161);
    border-radius: 50%;
   padding: 6px;
   font-size: 20px;
   margin-right: 10px;
}
/* services */
#services{
    background-image: url(./../images/bg2.png);
    background-position: center;
    background-size:cover;
    height: 700px;
    padding-top: 200px;

}
.services__content{
    text-align: center;
}
.services__content span{
    color: #f45f8d;
    font-size: 29px;
    line-height: 20px;
}
.services__content h1{
    font-size: 55px;
    font-weight: 900;
    color: #262626;
}

 .services__list{
    padding: 65px;
    max-width: 320px;
    display: flex;
    padding: 65px;
    box-sizing: border-box;
    margin: 0 400px;
    
 }
 .services__title1{
flex: 1;
background: white;
border-radius: 10px;
margin: 10px;
text-align: center;
box-shadow: 1px 0 7px #f1f1f1;
padding: 10px;
line-height: 30px;
transition:all 0.5s;

 }
 .services__title1:hover{
     transform: translateY(-20px);
    /* margin-top: -3px;
    margin-bottom: 45px; */
 }
 .services__title1 img{
     width: 300px;
     height: 300px;
 }
 .services__title1 span{
font-size: 29px;
font-weight: 600;
color: #262626;
 }
 .services__title1 p{
     font-size: 16px;
     color: #636363;
 }
 
 .services__title2{
    flex: 1;
    background: white;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 1px 0 7px #f1f1f1;
    padding: 10px;
    line-height: 30px;
    transition:all 0.5s;
}
.services__title2:hover{
    transform: translateY(-20px);
    /* margin-top: -3px;
    margin-bottom: 45px;*/
} 
.services__title2 img{
    width: 300px;
    height: 300px;
}
.services__title2 span{
    font-size: 29px;
    font-weight: 600;
    color: #262626;
}
.services__title2 p{
    font-size: 16px;
    color: #636363;
}
.services__title3{
    flex: 1;
    background: white;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 1px 0 7px #f1f1f1;
    padding: 10px;
    line-height: 30px;
    transition:all 0.5s;
}
.services__title3:hover{
    transform: translateY(-20px);
/* margin-top: -3px;
margin-bottom: 45px; */
}
.services__title3 img{
    width: 300px;
    height: 300px;
}
.services__title3 span{
    font-size: 29px;
    font-weight: 600;
    color: #262626;
}
.services__title3 p{
    font-size: 16px;
    color: #636363;
}
/* information *//*thieu background img*/
#information{
    background-image: url(./../images/pg15.png);
padding-top: 270px;
display: flex;
background-size: cover;
}
.information__img img{
border-radius: 0 90px 90px 0;
height: 550px;
}
.information__text{
    margin-left: 114px;
}
.information__text button{
    height: 60px;
    width: 150px;
    border-radius: 60px;
    color: white;
    background-image: linear-gradient( to left , #f45f8d , #f8b161);
    background-size: 200% 100%;
    border: none;
    transition:all 0.5s;
    cursor: pointer;
}
.information__text span{
color: #f45f8d;
font-size: 29px;
}
.information__text h1{
font-size: 55px;
color: #262626;
line-height: 60px;
}
.information__text p{
    font-size: 16px;
    color: #636363;
    line-height: 25px;
}
    
.information__text ul li{
    font-size: 16px;
    color: #636363;
    line-height: 40px;
    list-style: none;
   
}
.information__text .fas{
    color: #f45f8d;
    /* background-color:#f45f8d; */
    border-radius: 50%;
    padding: 2px;
     border: 3px solid #f45f8d;
    margin-right: 10px;
}
.information__text button{
    margin-top: 39px;
    cursor: pointer;
}
/* count */
#count{
    background-image: url(./../images/bg14.png);
    background-size: cover;
    padding: 40px 0;
    margin: 90px 0;
    height: 300px;
    box-shadow: 1px 0 7px #fffbf6;
    background-size: cover;
}
.count__content{
display: flex;
justify-content: space-between;
width: 70%;
margin: 0 auto;
text-align: center;
padding-top: 100px;
}
.count__item{
    position: relative;
    width: 30%;
}
.count__item span:first-of-type{
font-size: 55px;
color: #f45f8d;
font-weight: 900;
}
.count__item span:last-of-type{
    font-size: 55px;
    color: #f45f8d;
    font-weight: 900;
}
.count__item p:last-of-type{
font-size: 16px;
color: #636363;
}
.count__item i{
    position: absolute;
    color: white;
    background-image: linear-gradient(to left, #f45f8d, #f8b161);
    border-radius: 50%;
    padding: 15px;
    font-size: 40px;
    height: 70px;
    width: 70px;
    top: -76px;
    left: 122px;
}
/* features */
#features{
    background-image: url(./../images/bg2.png);
    background-size: cover;
}
.features__idea{
    display: flex;
    justify-content:center;
}
.features__idea1 span{
    color: #f45f8d;
    font-size: 29px;
    font-weight: 400;
}
.features__idea1 h2{
    font-size: 55px;
    color: #262626;
    font-weight: 900;
    padding-bottom: 30px;
}

.idea__item{
    position: relative;
    /*background-image: linear-gradient( to left , #f45f8d , #f8b161);*/
    background-color: white;
    width: 500px;
    padding: 20px 0px 30px 115px;
    height: 130px;
    border-radius: 16px;
    box-shadow: 1px 0 10px whitesmoke;
}
.idea__item:hover{
    background-image: linear-gradient( to left , #f45f8d , #f8b161);
    color: white;   
}
.idea__item:hover span i{
    color: white;
}
.idea__item h4{
    font-size: 29px;
    color: #262626;
    font-weight: 600px;
    line-height:40px;
}
.idea__item p{
    font-size: 16px;
    color: #636363;
    line-height: 25px;
}

.idea__item span i{
    position: absolute;
    font-size: 80px;
    left: 35px;
    color:#f45f8d;
}
.idea__item1{
    position: relative;
    /* background-image: linear-gradient( to left , #f45f8d , #f8b161); */
    width: 500px;
    padding: 20px 0px 30px 140px;
    height: 130px;
    border-radius: 16px;
    margin: 30px;
    background-color: white;
    box-shadow: 1px 0 10px whitesmoke;
}
.idea__item1:hover{
    background-image: linear-gradient( to left , #f45f8d , #f8b161);
    color: white; 
  }
  .idea__item1:hover span i{
    color: white;
}
.idea__item1 h4{
    font-size: 29px;
    color: #262626;
    font-weight: 600px;
    line-height:40px;
}
.idea__item1 span i{
    position: absolute;
    font-size: 80px;
    left: 35px;
    color:#f45f8d;
}
.idea__item1 p{
    font-size: 16px;
    color: #636363;
    line-height: 25px;
}

.idea__item2{
    position: relative;
    /* background-image: linear-gradient( to left , #f45f8d , #f8b161); */
    width: 500px;
    padding: 20px 0px 30px 140px;
    height: 130px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 1px 0 10px whitesmoke;
}
.idea__item2:hover{
    background-image: linear-gradient( to left , #f45f8d , #f8b161);
    color: white; 
 } 
 .idea__item2:hover span i{
color: white;
 }
.idea__item2 h4{
    font-size: 29px;
    color: #262626;
    font-weight: 600px;
    line-height:40px;
}
.idea__item2 p{
    font-size: 16px;
    color: #636363;
    line-height: 25px;
}

.idea__item2 span i{
    position: absolute;
    font-size: 80px;
    left: 35px;
    color:#f45f8d;
}
.features__idea2 img{
width: 600px;
height: 625px;
margin-left: 90px;
}
/* animation */
.features__idea2 img{
   animation: run 6s ease-in-out 5s infinite;
}
@keyframes run{
  0%{
      transform: rotate(-3deg);
  }
  20%{
      transform: rotate(0deg);
  }
  40%{
      transform: rotate(3deg);
  }
  60%{
      transform: rotate(3deg);
  }
  80%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(-3deg);
  }
  
}
/* blog */
#blog{
    padding-top: 100px;
    background-image: url(./../images/bg17.png);
    background-size: cover;
   
}
.blog__title{
    padding: 50px;
    text-align: center;
}
.blog__title h3{
    font-size: 29px;
    color: #f45f8d;
    font-weight: 400;
}
.blog__title h1{
    font-size: 55px;
    font-weight: 900;
    color: #262626;
}
.blog__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    margin: 0 auto;
    gap: 30px;
}


.blog__item img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
 .blog__item{
    position: relative;
} 
.blog__item.item1{
    grid-column: 1/ span 2;
    grid-row: 1/span 1;
    position: relative;
}
 .showcase__overlay{
    background-color: #6363636e;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
     opacity: 0;
     transition: all 0.5s;
}
.showcase__icon{
    position: absolute;
    top: 0;
    right:0;
    transition: all 1s;
}
.showcase__icon i{ 
    color: white;
    background-image: linear-gradient( to left , #f45f8d , #f8b161);
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    
    
}
.blog__item:hover .showcase__overlay{
    opacity: 1;
} 
.blog__item:hover .showcase__icon{
    top:40px;
    right: 40px; 
}

.showcase__text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    transform: translateY(20px);
    transition: all 1s;
}
.blog__item:hover .showcase__text{
    transform: translateY(0);
}
.showcase__text h3{
    font-size: 29px;
    font-weight: 900;
}
.showcase__text p{
    font-size: 16px;
    color: #ffffffa3;
}

.blog__item.item5{
    grid-column: 1/span 2;
    grid-row: 3/ span 1;
    /* position: relative; */
}
.blog__item.item6{
    grid-column: 3/span 1;
    grid-row: 2/span 2;
    /* position: relative; */
}
/* plan */
#plan{
    padding-top: 100px;
    background-image: url(./../images/bg16.png);
background-size: cover;
}
.plan__title{
    text-align: center;
}
.plan__title h3{
    color: #f45f8d;
    font-size: 29px;
    font-weight: 400;
}
.plan__title h1{
    color: #262626;
    font-size: 55px;
    font-weight: 900;
}
.plan__slider{
    background-image: linear-gradient(to left, #f45f8d, #f8b161);
    display: inline-block;
    line-height: 50px;
    margin: 20px 0;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    color: white;
}
.plan__content{
display: grid;
grid-template-columns: repeat(3,1fr);
width: 60%;
margin: 0 auto;
}
.plan__item{
    margin: 6px;
    box-shadow: 1px 0 10px #f1f1f1;
    background-color: white;
    border: 3px solid transparent;
    border-radius: 10px;
    transition: all 0.5s;
   border-image: 100 round;
}
.plan__item:hover{
    border-image: url(../images/br.png) 1 round;
}

.item__title{
    padding: 15px;
}
.item__title button{
    height: 60px;
    width: 150px;
    border-radius: 60px;
    color: white;
    background-image: linear-gradient( to left , #f45f8d , #f8b161);
    background-size: 200% 100%;
    border: none;
    transition:all 0.5s;
    cursor: pointer;
}

.item__title p{
    text-align: center;
    font-size: 31px;
    color: #262626;
    font-weight: 700;

}
.item__title hr{
    margin: 0 auto;
}
.item__title img{
    width: 100%;
}
.item__title button{
    margin: 10px 25%;
}
.item__text{
text-align: center;
}
.item__text h1{
    display: inline-block;
    font-size: 55px;
    color: #f8ae56;
}
.item__text span{
    font-size: 17px;
    font-weight: 600;
}
.item__list{
    margin-left: 50px;
}
.item__list ul li{
   position: relative;
   font-size: 17px;
   font-weight: 400;
   color: #262626;
}
.item__list ul{
list-style: none;
margin: 10px 30px;
line-height: 40px;

}
.item__list ul li i{
    color: #f45f8d;
    position: absolute;
    top: 11px;
    left: -25px;
    font-size: 13px;
    width: 20px;
    height: 20px;
    background-color: #ffeff3;
    border-radius: 50%;
    line-height: 20px;
    padding-left: 3px;

}
/* Testimonial chưa làm */
#layout{
   background-image: url(./../images/bg17.png); 
}
/* news&blog */
#news{
    padding-top: 150px;
    background-image: url(./../images/bg16.png);
    background-size: cover;
}
.news__title{
    text-align: center;
    padding: 40px 0;

}
.news__title p{
    color: #f45f8d;
    font-size: 29px;
    font-weight: 400;
}
.news__title h1{
    font-size: 55px;
    font-weight: 900;

}
.news__content{
    display: flex;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content:center;
   
}
.news__list{
    margin: 15px;
    background-color: #ffeff3;
    width: 100%;
    position:relative;
    border-radius: 7px;
}
.news__list img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    
}
.news__list p:first-of-type{
position: absolute;
top: 245px;
    left: 20px;
    background-image: linear-gradient(to left, #f45f8d, #f8b161);
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}
.news__list h2{
    font-size: 22px;
    padding: 20px 0;
    font-weight: 900;
    margin: 0 20px;
    color: #262626;
}
.news__list p:last-of-type{
    color: #636363;
    font-size: 16px;
    margin: 0 20px;
   
}
.comments{
    margin: 35px 20px;
    padding: 19px 0; 
    border-top: 0.5px solid #636363;
    font-size: 15px;
    color:#636363;
}
.comments ul{
  list-style: none; 
  position: absolute;
    bottom: 25px;
    left: 35px;
}
.comments ul li{
display: inline;
}
.icon1 i{
    color:#ffeff3;
    background-color: #f45f8d;
    border-radius: 50%;
    border: 0.5px solid #f45f8d;
    position: absolute;
    left: -20px;
}
.name{
margin-right: 35px;
color: #f45f8d;
}
.icon2 i{
    color:#f45f8d;
    border-radius: 50%;
    position: absolute;
    left: 120px;
}
/* logo list */
#logo{
    background-color: white;
    padding: 100px 0;
}
.logo__list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
}
.logo__item{
   
    height: 80px;
    width: 150px;
    border-radius: 5px;
}
.logo__item:hover{
    background-image: linear-gradient(to left, #f45f8d, #f8b161);
    color: white;
}
.logo__item img{
    margin: 20px;
}
/* contact */
#contact{
background-color: white;
}
.contact__content{
    background-image: url(./../images/pattern3.png);
    background-color: white;
    width: 70%;
    margin-left: 250px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 50px 0;
    box-shadow: 0px 1px 26px -20px;
    border-radius: 10px;
    position:relative;
    background-size: cover;
    position: absolute;
    opacity: 1;
}
.contact__content h2{
/* margin-left: 35px; */
font-size: 30px;
color: #262626;

}
.contact__content input{
    padding: 15px 200px 15px 10px;
   width: 100%;
   border: 1px solid #f45f8d;
   border-radius: 5px 0 0 5px;
}
.contact__content button{
    position: absolute; 
    padding: 15px 30px;
    border:none;
    border-radius: 0 5px 5px 0;
    background-image: linear-gradient(to left, #f8b161, #f45f8d);
    color: white;
}
/* footer__1 */
#footer__1{
    background-image: url(./../images/pattern2.png);
    width: 100%;
    height: 400px;
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0e1b1f;
}
.footer__content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 57%;
    margin: 0 auto;
    padding-top: 100px;
}
.footer__logo{
    padding-top: 95px;
    color:#636363;
    font-size: 16px;
}
.footer__logo a img{
    padding-bottom: 10px;
}
.phone {
    position: relative;
}
.phone i{
    position: absolute;
    padding-left: 9px;
    top: 2px;
    left: -44px;
    color: white;
    background-image: linear-gradient(to left, #f8b161, #f45f8d);
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
}
.phone p{
    padding-bottom: 5px;
}
.mail{
    position: relative;
}
.mail i{
    position: absolute;
    padding-left: 9px;
    top: 2px;
    left: -44px;
    color: white;
    background-image: linear-gradient(to left, #f8b161, #f45f8d);
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
}
.mail p{
    padding-bottom: 5px;
}
.address{
    position: relative;
}
.address i{
    position: absolute;
    padding-left: 11px;
    top: 2px;
    left: -44px;
    color: white;
    background-image: linear-gradient(to left, #f8b161, #f45f8d);
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
}
.footer__links h3{
color: white;
font-size: 22px;
font-weight: 700;
padding-top: 106px;
padding-bottom: 10px;
}
.footer__links ul{
    list-style: none;
    line-height: 30px;
}
.footer__links ul a{
    color: #636363;
    font-size: 16px;
}
.footer__links ul a li{
    transition: all 1s;
}
.footer__links ul a:hover li{
    color: white;
}
.footer__links ul a li i{
    margin-right: 5px;
}
/* footer__2 */
#end{
    background-color: #20333b;
   
}
.end__info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    
}
.end__title{
    display: flex;
    color: #636363;
    font-size: 16px;
}
.zone{
    color: #f45f8d;
}
.end__icon{
    color: white;
    

}
.end__icon i{
    background-color: #636363;
    padding: 10px;
    border-radius: 50%;
    
}
.end__icon i:hover{
    background-image: linear-gradient(to left, #f8b161, #f45f8d); 
}
.end__icon i:first-of-type{
    margin-right: 30px;
}
.end__icon i:last-of-type{
    margin-left: 30px;
}
/* backtotop */
.backtotop {
    background-color: #f45f8d;
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: block;
    text-align: center;
    color: white;
    border-radius: 10px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    visibility: hidden;
}
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
  }
  
  .cd-top--fade-out {
    opacity: .5;
  }
